<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
</head>
<body>
<div align="center">
    <div th:replace="~{header :: header}"></div>
    <h2>My Profile</h2>
    <div th:object="${profile}">
        <p>Username <strong th:text="${profile.username}"></strong></p>
        <p>Email <strong th:text="${profile.email}"></strong></p>
        <p>Gender <strong th:text="${profile.status}"></strong></p>
        <p>Role <strong th:text="${profile.role.name}"></strong></p>
        <a th:href="@{/api/v1/users/profile/edit}"><button>Update profile</button></a>
    </div>
</div>
</body>
</html>